body { padding: 0; margin: 0; font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
html, body, #map { height: 100%; }

.visible { display: block; }
.hidden { display: none; }
.leaflet-marker-icon { background: none !important; border: 0 !important; }
.icon { overflow: hidden; position: relative; width: 20px; height: 20px; left: -10px; top: -10px; }

#mapprovider { z-index: 100; position: absolute; right: 60px; top: 10px; }



